+++
title = "OpenTR"
linkTitle = "OpenTR"

+++

<div class="container text-center" style="margin-top: 4rem;">
    <img src="/images/open-tr-banner-01-website.png" style="width: 100%; height: auto; text-align: center;"/>

    <h3 class="display-6">OpenTR, Türkiye'deki kuruluşlar ve bireyler için açık kaynak stratejisi ve rehberliği sağlayan bir oluşumdur.</h3>
</div>

<div class="container py-5 text-center">
    <h4 style="text-align: left">
        OpenTR olarak, açık kaynak ve beraberindekilerin Türkiye'de gelişimi destekleme, işbirliğini artırma ve olumlu sosyal etki yaratma gücünü ciddiye alıyoruz.
    </h4>

    <h4 style="text-align: left">
        Bu gücü kullanmak için, kuruluşlar ve bireyler için ücretsiz ve bağımsız olarak belgeler, veri, rehberlik ve strateji sağlıyoruz.
    </h4>

    <div>
        <a class="btn btn-outline-primary btn-lg my-3 p-3" href="about/" role="button">Daha fazla bilgi</a>
    </div>
</div>

<div class="container text-center">
    <h4 style="text-align: left">
        "Neden açık kaynak ve topluluklarla ilişkim olmalı?"
    </h4>
    <h4 style="text-align: left">
        "Açık kaynak stratejisi nedir?"
    </h4>
    <h4 style="text-align: left">
        "Ne elde edeceğim?"
    </h4>
    <h4 style="text-align: left">
        "Nereden başlamalıyım?"
    </h4>

    <h4 style="text-align: left">
        Kuruluşunuz veya birey olarak kendiniz için bu soruları yanıtlamak istiyorsanız, aşağıdaki başlangıç rehberlerimizi inceleyebilirsiniz.
    </h4>

    <div>
        <a class="btn btn-outline-primary btn-lg my-3 mx-2 p-3" href="/docs/getting-started/organizations/" role="button">Kuruluş Başlangıç Rehberi</a>
        <a class="btn btn-outline-primary btn-lg my-3 mx-2 p-3" href="/docs/getting-started/individuals/" role="button">Birey Başlangıç Rehberi</a>
    </div>
</div>

<div class="container" style="margin-top: -2rem;">
{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fa-book" title="Belgelerimize gözatın" %}}
OpenTR'nin ana çıktısı olan belgelerimiz, açık kaynak stratejisi ve rehberliği sağlamak için oluşturulmuştur.
Hedef kitlemizdeki farklı personalar için farklı belgeler bulabirsiniz.

[Belgeler](/docs)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bullseye" title="Çalışma şeklimizi öğrenin" %}}
OpenTR, üzerinde çalıştığı problemin yapısına uygun strateji ve metodoji kullanır.
"Açık Kaynak", "Açık Topluluk", "Açık Veri" ve "Açık İşbirliği" odak alanlarına yönelik Veri ve belge odaklı çıktılar,
time-boxed çalışma dönemleri sonunda rapor olarak sunulur.

[Hakkımızda](/about)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bullhorn" title="Haberdar olun" %}}
OpenTR'nin etkinliklerinden, duyurularından ve güncellemelerinden haberdar olmak için sosyal medya hesaplarımızı takip edebilir
veya e-posta listemize kaydolabilirsiniz.

[İletişim](/contact)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-users" title="Bize katılın" %}}
Birlikte daha güçlüyüz. OpenTR'nin çalışmalarına katılmak, katkıda bulunmak
ve fikirlerinizi paylaşmak için bize katılın.

[Topluluk](/contact/#topluluk)
{{% /blocks/feature %}}

<!--{{% blocks/feature icon="fa-brands fa-github" title="Blogumuza bakın" %}}-->
<!--Blog-->

<!--[Blog](/blog)-->
<!--{{% /blocks/feature %}}-->

{{< /blocks/section >}}
</div>

<!--TODO: short summaries of the latest blog posts-->
<!--<div class="container my-lg-5 my-2">-->
<!--    <h1 class="display-6 text-center">Duyurular</h1>-->
<!--    <div class="row my-2">-->
<!--        <div class="col-lg-6 my-2">-->
<!--            <h4>Su oldu bu oldu <small style="font-size: 0.7em;">1 Haziran 2023</small></h4>-->
<!--            <p>Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu</p>-->
<!--            <a href="/aaa.html">Daha fazla</a>-->
<!--        </div>-->
<!--        <div class="col-lg-6 my-2">-->
<!--            <h4>Su oldu bu oldu <small style="font-size: 0.7em;">1 Haziran 2023</small></h4>-->
<!--            <p>Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu Su oldu bu oldu</p>-->
<!--            <a href="/aaa.html">Daha fazla</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
