/*

Add styles or override variables from the theme here.

*/
// See https://github.com/google/docsy/blob/main/assets/scss/_variables.scss
// See https://www.docsy.dev/docs/adding-content/lookandfeel/
// See https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

$primary: #fe911b;
//$primary: #ff8c03;
$secondary: #e9ecef;
//$secondary: #fb923c;

$light: #ebfdf8 !default; // TODO: consider using BS value

$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";


$accordion-color:                         #333;
$accordion-bg:                            white;
$accordion-border-color:                  #ccc;
$accordion-button-bg:                     rgba(0, 0, 0, 0.03);
$accordion-button-active-bg:              rgba(0, 0, 0, 0.08);
$accordion-button-active-color:           #333;
$accordion-button-focus-box-shadow:       0 0 0 0.05rem rgba(0, 0, 0, 0.25);
//$accordion-button-focus-box-shadow:       0 0 0 0.25rem red;
